<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form validation Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <hr>
    <h1>Student Notes Management System</h1>
    <hr>
    <br>

    <h2>Student Registration form</h2>
    <form action="/create-student" th:action="@{/create-student}" th:object="${student}" method="post">

        <div class="form-group">
            <input type="hidden" th:field="*{id}" value="1">
        </div>

        <div class="form-group">
            <label for="firstName">First Name:</label>

<!--            <input type="text" class="form-control" id="firstName" placeholder="Enter first Name"
                                                        name="name" th:field="*{firstName}" value="John"> <br/>-->

            <br/>
            <input type="text" name="firstName" value="Your first name" id="firstName"  class="form-control"  />

            <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
               class="alert alert-danger"></p>
        </div>

        <div class="form-group">
            <label for="surName">Sur Name:</label>
<!--            <input type="text" class="form-control" id="surName" placeholder="Enter sur Name"
                                                      name="name" th:field="*{surName}" value="Doe"> <br/>-->
            <br/>
            <input type="text" name="surName" value="Your sur name" id="surName"  class="form-control"  />
            <p th:if="${#fields.hasErrors('surName')}" th:errors="*{surName}"
               class="alert alert-danger"></p>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email"
                   class="form-control" id="email" placeholder="Enter email"
                                                     name="email" th:field="*{email}" value="john@gmail.com">
            <br/>

            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
               class="alert alert-danger"></p>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label"> <input
                    class="form-check-input" type="checkbox" name="remember">
                Remember me
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>